dist/
node_modules/
# PM2 will create logs files in this folder
logs/

# Local provider access configuration and any other configuration that
# should not be shared.
.env

# Cache for commands that fetch Binance prices.
binancePrices.json

# Cache for commands that fetch Uniswap liquidity balances.
uniswapLiquidityBalances.json
